<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    cacheResultFile=".phpunit.result.cache"
    convertDeprecationsToExceptions="false"
    failOnWarning="true"
    failOnRisky="true">
    <testsuites>
        <testsuite name="forest-program-unit">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="false">
        <include>
            <file>includes/class-forest-program.php</file>
        </include>
    </coverage>
</phpunit>
